/* ----@@@@@[ EMOTIONS ]@@@@@---- */
#zm-emo-list {position: absolute;background-color: #ffffff;float: left;z-index: 9999;width: 250px;_width: 251px;left: -1px;border-left: 0 none;border-top: 0 none;border-right: 1px solid #d4e0ec;border-bottom: 1px solid #d4e0ec;}
#zm-emo-list span {float: left;width: 24px;height: 24px;border-right: 0 none;border-bottom: 0 none;border-top: 1px solid #d4e0ec;border-left: 1px solid #d4e0ec;}

/* ----@@@@@[ DISPLAY BOX ]@@@@@---- */
.ctndisbox{position:absolute; z-index:900;}
.ctndisbox .contdisbox {margin:8px;}
.ctndisbox .contdisboxnopad {margin:0;}
.ctndisbox .disbox {border:1px solid #1a4967;background:#fff;-moz-box-shadow:0px 0px 5px #7589a3;-webkit-box-shadow:0px 0px 5px #7589a3;box-shadow:0px 0px 5px #7589a3;margin:0 6px;}
.ctndisbox .icodisbox, .ctndisbox .disboxclose {background-image:url(images/displaybox_sprt.gif); background-repeat:no-repeat; display:block;!position:relative;font-size:0;display:inline}
.ctndisbox .disbox_loading, .disbox_minipro .disbox_loading {width: 100%; height: 25px; background: transparent url(images/loading_small.gif) center center no-repeat;}
.ctndisbox .disbox_inner{position:relative;width:100%}
.ctndisbox .disboxclose{display:block;width:16px;height:16px;background-position:0 -48px;position:absolute;text-indent:-9999em;right:12px;top:6px;line-height:0;z-index:1;}
.ctndisbox .disboxclose:hover{background-position:0 -64px;}
.ctndisbox .rowminipro{ display:block; height:17px; text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.ctndisbox .zmscrollableui_bar{top: 24px;right: 3px;}

.icodisbox.topleft,.icodisbox.topright,.icodisbox.botleft,.icodisbox.botright{height:7px;width:13px;margin-top:-6px;}
/* Arrow - Top Postision */
.icodisbox.topleft{background-position:0 -9px;margin-left:15px;float:left;!margin-right:-30px;}
.icodisbox.topright{background-position:0 -9px; margin-right:15px;float:right; !margin-left:-30px;}
/* Arrow - Bottom Postision */
.icodisbox.botleft,.icodisbox.botright{background-position:0 0;position:relative;top:5px;}
.icodisbox.botleft {margin-left:15px;float:left;}
.icodisbox.botright{margin-right:15px;float:right}
/* Arrow - Right Postision */
.icodisbox.righttop,.icodisbox.rightbottom{width:7px;height:13px;background-position:0 -19px; }
.icodisbox.righttop{margin-top:10px;float:left;_margin-bottom:-15px /* fix ie6*/}
.icodisbox.rightbottom{margin-top:-21px;float:left;}
/* Arrow - Left Postision */
.icodisbox.lefttop,.icodisbox.leftbottom{width:7px;height:13px;background-position:0 -35px; }
.icodisbox.lefttop{margin-top:10px;float:right;_margin-bottom:-15px /* fix ie6*/;}
.icodisbox.leftbottom{margin-top:-21px;float:right;}

/* ----@@@@@[ DROPDOWN LIST ]@@@@@---- */
.boxshadow_popup{position:absolute;z-index:1100;width:371px;/* Default width */}
.popup_edge_shadow {padding-right:8px;background: url(images/notif_shadow_edge.png) right repeat-y;}
.notif_boxshadow {margin-left:3px;height: 8px;}
.notif_boxshadow .ntifboxshd_left,.notif_boxshadow .ntifboxshd_right {height: 8px; width: 8px; font-size:0;}
.notif_boxshadow .ntifboxshd_left {background:url(images/notif_shadow_botleft.png) left bottom no-repeat; _margin-right: -3px;}
.notif_boxshadow .ntifboxshd_right {background:url(images/notif_shadow_botright.png) right bottom no-repeat; _margin-left: -3px;}
.notif_boxshadow .ntifboxshd_center {background: url(images/notif_shadow_botloop.png) repeat-x;height: 8px;margin: 0 8px 0 8px;_margin: 0;font-size: 0;}
.popup_border {text-align: left;border: 2px solid #01548d;background: #fff;line-height:16px;margin-top: -2px;position:relative;}
/* Fix ie6*/
*html .boxshadow_popup{padding:0 3px 3px 0;background:#ccc;width:360px;/* Default width */}
*html .popup_edge_shadow{padding:0;background:#ccc;}
*html .notif_boxshadow{display:none;}

/* Dropdownlist (Old) */
.zm-dropdownlist {width: 100px;height: 20px;}
.zm-dropdownlist-title {cursor: pointer;border: 1px solid #bbb;zoom: 1;background: transparent url(arrow.gif) right center no-repeat;}
.zm-dropdownlist-list {cursor: pointer;list-style: none;background-color: #ffffff;padding: 0;margin: 0;border-style: solid;border-color: #bbb;border-width: 0 1px 1px 1px;*position: absolute;}
.zm-dropdownlist-list li, .zm-dropdownlist-title {zoom: 1;padding-left: 5px;}
.zm-dropdownlist-hover {background-color: #c5d9f3;}

/* ----@@@@@[ BOXY & POPUP ]@@@@@---- */
.lbx_widsml{width:310px;}
.lbx_widmid{width:445px;}
.lbx_widlar{width:600px;}
.lbx_widmax{width:700px;}
.zme-boxy-wrapper{top:0; left:0; right:0; bottom:0; position: fixed; z-index:1000; overflow: hidden;}
* html .zme-boxy-wrapper{position: absolute;width: expression(eval(document.documentElement.clientWidth));height: expression(eval(document.documentElement.clientHeight));top: expression(eval(document.documentElement.scrollTop));left: expression(eval(document.documentElement.scrollLeft));}
.zme-boxy{position:absolute;z-index:1001;_background:transparent;background-color:#e1e1e1;margin:0;border:none;zoom:1;-moz-box-shadow:0px 0px 5px #535455;-webkit-box-shadow:0px 0px 5px #535455;box-shadow:0px 0px 5px #535455;}
.zme-boxy-container{background:#fff;border:1px solid #005085;}
.zme-boxy-title{background:#35587e;border-top:1px solid #42668d;border-left:1px solid #42668d;color:#FFF;font-size:12px;font-weight:bold;padding:5px;}
.zme-boxy-title span{display:inline-block;padding-right:40px;width:auto;}
a.zme-boxy-close{background:url(images/boxy-close_1.01.gif) 0 -24px no-repeat;top:4px;position:absolute;right:4px;width:23px;height:23px;}
a.zme-boxy-close:hover{background-position:0 0px;}
.hBtnC{padding:4px 6px;text-align:center;background:#f6fafd;font-size:12px;font-weight:bold;border:1px solid #c5d7e5;margin:0 8px 8px 8px;}
.zme-boxy-footer{padding:6px;text-align:center;border-top:1px solid #eee;font-size:12px;font-weight:bold; height:22px; background:#fff;}
.zme-boxy-modal {background:url(images/blank.gif) no-repeat; background-color:rgba(0,0,0,.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f7f7f7f, endColorstr=#7f7f7f7f);}
.zme-boxy-content{display:block;padding:8px; background:#fff;}
.zme-boxy-leftcontent{margin-right:255px;}
.zme-boxy-rightcol{float:right;padding-bottom:20px;width:258px;margin:-8px -8px -8px 0}

.zme-boxy-container.event{border:1px solid #ca4a5a !important;}
.zme-boxy-title.event{ background:url(../v3/images/event/bgtoplbx_womenday.jpg) no-repeat 0 0; border:0; height:20px;}
a.zme-boxy-close.event{background:url(../v3/images/event/boxy-close_1_02.gif) 0 -23px no-repeat; border:none !important;}
a.zme-boxy-close.event:hover{ background-position:0 0}

/* Popup */
#zme-callout-popup {border: 0 none;left: -999px;margin: 0;padding: 0;position: absolute;top: -999px;z-index: 1200;}
#zme-callout-popup-head, #zme-callout-popup-bottom, #zme-callout-popup-head .zme-callout-arrow, #zme-callout-popup-bottom .zme-callout-arrow{ background:url(images/zmpopupv1.01.gif) no-repeat;}
#zme-callout-popup-head, #zme-callout-popup-bottom {font-size: 1px;line-height: 8px;padding: 0 0 0 12px;background-repeat:repeat-x;}
#zme-callout-popup-head {background-position:0 -24px;}
#zme-callout-popup-bottom {background-position:0 0;}
.zme-callout-arrow {font-size: 1px;height: 8px;line-height: 8px;width: 10px;}
#zme-callout-popup-head .zme-callout-arrow {background-position:0 -16px;}
#zme-callout-popup-bottom .zme-callout-arrow {background-position:0 -8px;}
.zme-callout-content-upper {border-top: 1px solid #B8C6D0;border-bottom: 0 none;}
.zme-callout-content-lower {border-bottom: 1px solid #B8C6D0;border-top: 0 none;}
#zme-callout-popup-content{background-color:#FFFFFF;border-left:1px solid #B8C6D0;border-right:1px solid #B8C6D0;margin:0;padding:4px;}

/* Popup buttons */
.btn_L3,.btn_L3:hover,.btn_L5,.btn_L5:hover{vertical-align:bottom;text-decoration:none;display:inline-block;}
.btn_L3 em,.btn_L5 em{font-style:normal;cursor:pointer;}
.btn_L3{font-weight:bold;font-size:12px;border:1px solid #1a5b99;background-color:#56a7dc;color:#fff;}
.btn_L3:hover{background-color:#1b8acf;}
.btn_L3 em{display:block;padding:0 8px;height:19px;line-height:18px;border-top:1px solid #6ec6ee;}
.btn_L3:hover em{border-top:1px solid #3bb3e8;}
.btn_L5{border:1px solid #888;color:#555;font-size:12px;font-weight:bold;margin-left:5px;background-color:#f2f2f2;}
.btn_L5 em{display:block;padding:0 8px;height:19px;border-top:1px solid #fff;}
.btn_L5:hover{color:#3784b2;border:1px solid #3784b2;}

/* ----@@@@@[ TOOLTIP FOR USER ]@@@@@---- */
.tip_outer{z-index: 700;position:absolute;padding-top:8px;}
.tip_box{background-color:#FBFAE6;border:1px solid #666;-moz-box-shadow:2px 2px 3px #CCC;-webkit-box-shadow:2px 2px 3px #ccc;box-shadow:2px 2px 3px #CCC;}
.tip_box .tip_arrow, .tip_box .tip_inner .icon, .tip_close, .icoeventip{background-image:url(images/tutorial_tip_icons-1.06.gif); background-repeat:no-repeat;}
.tip_box .tip_arrow{background-position:0 -26px;display:block;height:8px;position:relative;top:-8px;width:13px;margin:0 auto;font-size:0}
.tip_box .tip_inner{padding:0 21px 8px 8px;height:1%;font-size:12px;overflow: hidden;}
.tip_box .tip_inner .icon{width:27px;height:25px;display:block;float:left;background-position: 0 0;margin-right:10px;}
.tip_close{display:block;text-indent:-999999em;width:14px;height:14px;background-position:0 -36px;position: absolute;right:5px;top:12px;outline: none;}

/* ----@@@@@[ PAGINATOR ]@@@@@---- */
.paginator {padding: 5px 0;height:22px;}
.paginator li{display:inline;}
.paginator li a, .paginator li span{padding:2px 5px;font-weight:bold;color:#676f71;background-color: #f6f8f7;border:1px solid #e1e3e2;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;text-align: center; margin-right:2px;}
.paginator li span {color:#ccc;}
.paginator li a:hover{-moz-box-shadow:0 0 1px #999;-webkit-box-shadow:0 0 1px #999;box-shadow:0 0 1px #999; text-decoration:none;}
.paginator li a.selected{color:#fff;background-color: #267ebd;border:1px solid #01709b;text-decoration: none;}
.paginator li a.event{color:#fff;background-color: #f76177;border:1px solid #ca4a5a;text-decoration: none;}

/* ----@@@@@[ INFORMATION MESSAGE BOX ]@@@@@---- */
.msginfo_box{border-style:solid;border-width:1px;padding:10px;margin-top:15px;font-size:12px;text-align:center;!height:1%}
.warning_msg{border-color:#dbe5f2;background-color:#f0f3f7;color:#888;}
.infomsg_icns{background-image:url(images/msginfo_icn_sprt.gif);width:16px;height:16px;display:inline-block;margin-right:5px;vertical-align:middle;}
.warning_icn{background-position:0 0;}

/* ----@@@@@[ SCROLLABLE UI ]@@@@@---- */
.zmscrollableui{height:100%;width:100%;overflow:hidden;position:relative;}
.zmscrollableui_wrapper{height:100%;overflow-x:hidden;overflow-y:auto;position:relative;width:150%;outline: none;}
.zmscrollableui_body{position:relative;}
.zmscrollableui_bar{display:block;position:absolute;top:2px;bottom:2px;right:2px;width:7px;z-index:1;*height: 100%;}
.zmscrollableui_gripper{position:absolute;-moz-transition:25ms;-webkit-transition:25ms;min-height:15px;width:5px;background-clip:content-box;-webkit-background-clip:content-box;background-color:rgba(0, 0, 0, .4);background-color: #999\9;border:1px solid rgba(85, 85, 85, .6);-webkit-border-radius:7px;border-radius:7px;width:100%\9;}
.zmscrollableui.contentBefore:before, .zmscrollableui.contentAfter:after {content: "";display: block;height: 2px;position: absolute;width: 100%;z-index: 99;}
.zmscrollableui.contentBefore:before {top: 0;}
.zmscrollableui.contentAfter:after {bottom: 0;}

/* ----@@@@@[ LOADING PROGRESS BAR ]@@@@@---- */
.zme_loadingbar .zme_ldpertxt{font-size:10px;color:#666;padding:0 0 5px;line-height:normal;text-transform:uppercase;}
.zme_loadingbar .zme_ldpertxt strong{font-size:11px;}
.zme_loadingbar .zme_ldbar_border{border:1px solid #7495b5;padding:2px;height:14px;background-color:#fff;}
.zme_loadingbar .zme_progressbar{display:block;height:14px;background-color:#3481c2;}