#zme-autocomplete-results {
	position: absolute;
	z-index: 1100;
	outline: none;
}

.zme-autocomplete-border {
	border: 1px solid #BFBFBF;
}

#zme-autocomplete-results ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.zme-autocomplete-item {
	margin: 0;
	padding: 1px 5px;
	cursor: default;
	background-color: #f7f9fb;
}

.zme-autocomplete-activeItem {
	background-color: #f0f0f0;
}

.zme-autocomplete-loading {
	background: white url(images/loading.gif) right center no-repeat;
}

.zme-autocomplete-clear {
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	background: transparent url(images/popupbg.gif) 1px 1px no-repeat;
}

.zme-autocomplete-clear:hover {
	background-position: -14px 1px;
}

.zme-autocomplete-disabled {
	background-color: #f2f2f2;
}