

#mask { 
    position:absolute; 
    left:0; 
    top:0; 
    z-index:9000; 
    background-color:#230; 
    display:none; 
} 
#boxes .window { 
    position:absolute; 
    left:0; 
    top:0; 
    width:60px; 
    height:200px; 
    display:none; 
    z-index:9999; 
    padding:20px; 
} 
#boxes #dialog { 
    width:500px; 
    height:260px; 
    padding:10px; 
    background-color:#ffffff; 
}


