body {
    font: normal 11px/18px Tahoma,Helvetica,verdana,arial,sans-serif;
    color: #333;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    background: white;
}
#lz-wrapper{
    width: 836px;
    padding: 0 10px 10px;
    float: left;
}
#lz1-menu{
    background: #636973 url(../images/menu2.png) repeat-x scroll 0 0;
    border-color: #CDCDCD #CDCDCD #B5B5B5 #CCC;
    border-style: solid;
    border-width: 1px;
    height: 26px;
    position: relative;
    display: block;

}
#lz-toptags-bar{
    background: white url(../images/table_heading.png) 0 -32px;
    height: 27px;
   
}
#lz-item-container{
    background: transparent url(../images/shuffle_area_bg.gif) repeat-x scroll 0 0;
    padding: 10px;
    height: 160px;				
}
#lz-item-container-text{
    height: 140px;				
}
#lz-like-unlike{
    width: 5%;
    float:left;
    height: 120px;
    margin-left: 10px;
}
#lz-item-textarea{
    width: 91%;
    float:left;				
}
.lz-buttons{
    float: left;
}
.lz1-item-menu{
    width:70px;
    float: left;
}
#lz-toptags-container{
    background: buttonface;
    padding: 5px;
}
#lz-toptags-container a{
    padding-right: 5px;
    line-height: 24px;
    text-decoration: none;
    color: black;
}
#lz3-container{
    padding:5px 0px 0px 0px;
}
#lz3-container td {				
    border-bottom: 1px solid #95B3D7;
    border-right: 1px solid #95B3D7;
    padding: 5px;
}
#lz-favorited-title{
    background: url(../images/table_heading.png) 0 -32px;
    height: 22px;
    position: relative;
    color: white;
    font-weight: bold;
    padding: 0 5px;
    line-height: 12px;
    margin: 0px;
}
#lz3-container table {
    border-top: 1px solid #95B3D7;
    border-left: 1px solid #95B3D7;
    margin-top: 5px;
}	
#lz-list-button{
    margin-top: 10px;
}
#lz2-container{
    margin-top: 40px;
}
#lz-save-button{
    background: url(../images/button-swatch.png) 0 -192px;
    display: block;
    float: left;
    width: 76px;
    margin: 2px;
    height: 32px;
    cursor: pointer;
}
#lz-save-button:hover{
    background: url(../images/button-swatch.png) 0 -224px; 
    display:block; 
    float:left; 
    width:76px; 
    margin:2px; 
    height:32px;
    cursor: pointer;
}
#getItem{
    background: url(../images/button-swatch.png) 0 0px;
    display: block;
    float: left;
    width: 102px;
    margin: 2px;
    height: 32px;
}
#getItem:hover{
    background: url(../images/button-swatch.png) 0 -32px; 
    display:block; 
    float:left; 
    width:102px; 
    margin:2px; 
    height:32px;
}
#lz-back-button-a{
    background: url(../images/button-swatch.png) 0 -128px;
    display: block;
    float: left;
    width: 38px;
    margin: 2px;
    height: 32px;
}
#lz-back-button-a:hover{
    background: url(../images/button-swatch.png) 0 -96px;
    display: block;
    float: left;
    width: 38px;
    margin: 2px;
    height: 32px;
}
.disabledBack{
    background: url(../images/button-swatch.png) 0 -160px !important;
    display: block !important;
    float: left;
    width: 38px;
    margin: 2px;
    height: 32px;
}
#lz-next-button-a{
    background: url(../images/button-swatch.png) 0 -128px;
    display: block;
    float: left;
    width: 38px;
    margin: 2px;
    height: 32px;
    -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
#lz-next-button-a:hover{
    background: url(../images/button-swatch.png) 0 -96px;
    display: block;
    float: left;
    width: 38px;
    margin: 2px;
    height: 32px;
}
.disabledNext{
    background: url(../images/button-swatch.png) 0 -160px !important;
    display: block;
    float: left;
    width: 38px;
    margin: 2px;
    height: 32px;
}
#lz-feed-button{
    background: url(../images/button-swatch.png) 0 -384px;
    display: block;
    float: right;
    width: 112px;
    margin: 2px;
    height: 32px;
    cursor: pointer;
}
#lz-feed-button:hover{
    background: url(../images/button-swatch.png) 0 -416px;
    display: block;
    float: right;
    width: 112px;
    margin: 2px;
    height: 32px;
    cursor: pointer;
}
.likeItem{
    width: 29px;
    height: 30px;
    background: url(../images/voting-controls2.png) 0 0px;
    margin-bottom: 2px;
    display: block;
}
.likeItem:hover{
    width: 29px;
    height: 30px;
    background: url(../images/voting-controls2.png) 0 -32px;
    margin-bottom: 2px;
    display: block;
}
.unlikeItem{
    width: 29px;
    height: 30px;
    background: url(../images/voting-controls2.png) 0 -96px;
    margin-bottom: 2px;
    display: block;
}
.unlikeItem:hover{
    width: 29px;
    height: 30px;
    background: url(../images/voting-controls2.png) 0 -128px;
    margin-bottom: 2px;
    display: block;
}
#lztitle{
    margin-left: 45px;
}
#lz-content-key-tags{
    height: 40px;
    margin-top: 5px;
    width: 100%;
}
#lz-key-text{
    width: 50px;
    float: left;
}
#listTag{
    float: left;
    width: 85%;
    min-height: 22px;
}
#lztitle a{
    text-decoration: none;
}
.lz-favorited-title {
    background: url(../images/table_heading.png) 0 -32px !important;
    height: 22px !important;
    position: relative !important;
    color: white !important;
    font-weight: bold !important;
    padding: 7px !important;
    line-height: 12px !important;
    margin: 0px !important;
}
#usrName{
    font-size: 13px;
    color: #3B94E7;
    font-weight: bold;
    font-style: italic;
}
.top-textarea-content{
    background: url(../images/bubble_2.png) 0 1px;
    height: 10px;
    border-top: 0px;
}
.main-textarea-content{
    background: url(../images/bubble_2.png) -745px 0 repeat-y;
    height: 1%;
    text-align: left;
    line-height: 150%;
    min-height: 60px;
    height: auto !important;
    height: 47px;
    padding-left: 10px;
    padding-right: 10px;
}
.bottom-textarea-content{
    background: url(../images/bubble_2.png) 0 -11px;
    height: 13px;
    text-align: left;
    padding-top: 10px;
}
#ContentItem{
    font-size: 12px;
}
#lzmenu-container{
    margin-bottom: -40px;
    margin-left: -30px;
}
#lztab2{
    margin-top: 40px;
}
.popular-data td{
    border-bottom: 1px solid #95B3D7;
    border-right: 1px solid #95B3D7;
    border-left: 1px solid #95B3D7;
    padding: 5px;
}
.popular{
    margin-top: -30px;
    margin-left: 10px;
}

/*
css 4 top items
*/
.lzwrapper-top-item p{margin:10px 40px 0 40px; color:#ccc; font-style:italic;}
.lzwrapper-top-item p{margin:0 0 20px 0;}	
.links a:hover{background:#de4816;}
.lzwrapper-top-item{height:100%;}
.lz-content-top-item{
    position: relative;
    margin: auto;
    width: 100%;
    height: 95%;
    padding: 5px 10px;
    overflow: auto;
}
.lz-content-top-item p:nth-child(even){color:#9dbfc6; font-family:Georgia,serif; font-size:17px; font-style:italic;}
.lz-content-top-item p:nth-child(3n+0){color:#c96;}