
#friendlist-box, #popup-box { display: none }

.wrapper
{
    width:100%; margin:0px; padding:0px;
}

.topac
{
    background-image:url(../images/zme_topacc.png) !important;background-position:left top !important;background-repeat:repeat-x !important;height:3px !important; margin-left:-1px;
}

.username
{
    font-size:13px; color:#3B94E7; font-weight:bold;
}

#current-tag
{
    text-align: left;
    height: 20px;
    visibility: hidden;
}

#voting-feedback
{
    display: none;
}

#voting-feedback .voting-ok
{
    background: url("../images/thumbs.png") no-repeat scroll -60px 1px transparent;
    margin:20px 5px;
    width:19px;
    height:20px;
}

.rwComment {
    margin-bottom:10px;
    min-height:1%;
    position:relative;
}
.rwComment .CommentInfo {
    height:1%;
}

.avatar {
    float:left;
    padding-right:9px;
    position:relative;
    width:50px;
}


/* CSS Document */
a { color:#3B5998; text-decoration:none; font-size:11px}
a:hover { text-decoration:underline;}
a:active {outline: none;}
a:focus{-moz-outline-style: none;}
html,body,p,img,div,h1,h2,h3,h4,li,ul,ol,dl,dd,dt,form,table,td,tr {margin: 0; padding: 0;border: 0;border-collapse: separate;border-spacing: 0;}
body { font-size:12px; font-family: tahoma, Arial, Helvetica, sans-serif}
.menu {background:#636973 url(../images/menu2.png) repeat-x scroll 0 0;border-color:#CDCDCD #CDCDCD #B5B5B5 #CCCCCC;border-style:solid;border-width:1px;height:26px;position:relative; display:block;} 
.menu_fo { height:26px; border-left:1px solid #828997;border-right:1px solid #565B64; float:left;line-height:26px; }
.menu_fo a {color:#fff; text-decoration:none;padding:0px 8px;display:block;height:100%; float:left;}
.menu_fo a:hover {background:#636973 url(../images/menu2.png) 0 -52px ;line-height:26px;}
.menu_fo_select {color:#fff; padding:0px 8px;display:block; float:left;background:#636973 url(../images/menu2.png) 0 -26px ;line-height:26px;height:26px; border-right:1px solid #565B64; border-left:1px solid #828997;}
.menu_fo_select a {text-decoration:none;}

.menu_fo_left { height:26px; border-right:1px solid #565B64; float: left; line-height:26px; }
.menu_fo_left a { color:#fff; text-decoration:none;padding:0px 8px;display:block;height:100%; float:left;}
.menu_fo_left a:hover { background:#636973 url(../images/menu2.png) 0 -52px ;line-height:26px;}
.menu_fo_left_select {color:#fff; padding:0px 8px;display:block; float:left;background:#636973 url(../images/menu2.png) 0 -26px ;line-height:26px;height:26px; border-right:1px solid #565B64;}
.menu_fo_left_select a {text-decoration:none;}
.menu a { color:#FFFFFF; font-size:11px;  	}
.tl {left:-1px;background:#636973 url(../images/menu2.png) 0 -78px ;  width:2px; height:2px; position:absolute; top:-1px;}
.tr {right:-1px;background:#636973 url(../images/menu2.png) 2px -81px ;  width:2px; height:2px; position:absolute; top:-1px;}
.shuffle_area {background:transparent url(../images/shuffle_area_bg.gif) repeat-x scroll 0 0;padding: 20px 10px 10px;}
.t {height:5px;border-top:1px solid #CACCD3; position:relative; background:#fff;}
.t .l {background:#f4f4f4 url(../images/shuffle_area_box.gif);width:7px; margin-top:-1px; position:absolute; top:0px; left:0px; height:6px;}
.t .r {background:#f4f4f4 url(../images/shuffle_area_box.gif) 0 -6px; width:7px; height:6px; top:-1px; right:0px; position:absolute; }
.m {border-left:1px solid #CACCD3;border-right:1px solid #CACCD3;padding:5px 8px 0; background:#fff; display:block;}
.b {background:url(../images/shuffle_area_box.gif) 0 -21px repeat-x; height:9px; position:relative;}
.b .l {background:#ffffff url(../images/shuffle_area_box.gif) 0 -12px; position:absolute; left:0px; top:0px;width:7px; height:9px;}
.b .r {background:#ffffff url(../images/shuffle_area_box.gif) 0 -30px; position:absolute; right:0px; top:0px; width:7px; height:9px;}

.xemtatca {float:right; padding-right:10px; line-height:22px;}
.xemtatca a { text-decoration:none; color:#FFFFFF; font-size:11px;}
.xemtatca a:hover { text-decoration:underline;}
.toptag {background:#ffffff url(../images/table_heading.png) 0 -32px; height:22px; position:relative;}
.toptag .l {background:#ffffff url(../images/table_heading.png) 0 0px; position:absolute; top:0; left:0; width:4px; height:22px;}
.toptag .r {background:#ffffff url(../images/table_heading.png) 0 -64px; position:absolute; top:0; right:0;width:4px; height:22px;}
.toptag h2 { color:#FFFFFF; line-height:22px; font-weight:bold; font-size:12px; float:left; padding-left:10px;}
.toptag_con { border:1px solid #CACCD3;padding:5px; text-align:left; border-top:0px;}
.toptag_con a { padding-right:5px; line-height:24px; text-decoration:none; color:#000;}
.toptag_con a:hover { text-decoration:underline;}
.toptag_con .wc1 { font-size:11px;}
.toptag_con .wc2 { font-size:12px;}
.toptag_con .wc3 { font-size:13px;}
.toptag_con .wc4 { font-size:14px;}
.toptag_con .wc5 { font-size:15px;}
.toptag_con .wc6 { font-size:16px;}
.toptag_con .wc7 { font-size:17px;}
.toptag_con .wc8 { font-size:18px;}
.toptag_con .wc9 { font-size:19px;}
.toptag_con .wc10 { font-size:20px;}
.toptag_con .wc11 { font-size:21px;}
.toptag_con .wc12 { font-size:22px;}
.toptag_con .wc13 { font-size:23px;}
.toptag_con .wc14 { font-size:24px;}
.toptag_con .wc15 { font-size:25px;}
.toptag_con .wc16 { font-size:26px;}
.toptag_con .wc17 { font-size:27px;}
.toptag_con .wc18 { font-size:28px;}
.toptag_con .wc19 { font-size:29px;}
.toptag_con .wc20 { font-size:30px;}

.toptag_con .wchl { color:#FE1DAC; }
/*
.toptag_con .wcol { font-size:12px;}
.toptag_con .wcol a {padding-right:5px; line-height:24px; text-decoration:none; color:#FE1DAC; font-size:14px; font-weight:bold;	}
.toptag_con .wcol a:hover { text-decoration:underline;}
*/
.vote { float:left; padding-top: 23px;}
.vote_t a { width:29px; height:30px;background: url(../images/voting-controls2.png) 0 0px; margin-bottom:2px; display:block;}
.vote_t a:hover {width:29px; height:30px;background: url(../images/voting-controls2.png) 0 -32px; margin-bottom:2px;} 
.vote_f a { width:29px; height:30px;background: url(../images/voting-controls2.png) 0 -96px; margin-bottom:2px;display:block;}
.vote_f a:hover {width:29px; height:30px;background: url(../images/voting-controls2.png) 0 -128px; margin-bottom:2px;} 
.content { width:745px; float:left; margin-left:5px;}
.content .t {background: url(../images/bubble_2.png) 0 1px; height:10px; border-top:0px;}
.content .c {background: url(../images/bubble_2.png) -745px 0 repeat-y; height:1%; text-align:left;line-height:150%;min-height:47px; height:auto !important; height:47px;}
.content .b {background: url(../images/bubble_2.png) 0 -11px; height:13px; text-align: left; padding-top: 10px}

.button_shuffle a {background: url(../images/button-swatch.png) 0 0px; display:block; float:left; width:102px; margin:2px; height:32px;}
.button_shuffle a:hover {background: url(../images/button-swatch.png) 0 -32px; display:block; float:left; width:102px; margin:2px; height:32px;}
.button_shuffle_dis a {background: url(../images/button-swatch.png) 0 -64px; display:block; float:left; width:102px; margin:2px; height:32px;}
.button_back a {background: url(../images/button-swatch.png) 0 -96px; display:block; float:left; width:38px; margin:2px; height:32px;}
.button_back a:hover {background: url(../images/button-swatch.png) 0 -128px; display:block; float:left; width:38px; margin:2px; height:32px;}
.button_back_dis a {background: url(../images/button-swatch.png) 0 -160px; display:block; float:left; width:38px; margin:2px; height:32px;}
.button_save a {background: url(../images/button-swatch.png) 0 -192px; display:block; float:left; width:76px; margin:2px; height:32px;}
.button_save a:hover {background: url(../images/button-swatch.png) 0 -224px; display:block; float:left; width:76px; margin:2px; height:32px;}
.button_dang a {background: url(../images/button-swatch.png) 0 -384px; display:block; float:right; width:112px; margin:2px; height:32px;}
.button_dang a:hover {background: url(../images/button-swatch.png) 0 -416px; display:block; float:right; width:112px; margin:2px; height:32px;}
.button_dang_dis a {background: url(../images/button-swatch.png) 0 -448px; display:block; float:right; width:112px; margin:2px; height:32px;}

.popular { margin-top:20px; text-align:left; font-size:11px;}
.popular h3 {font-size:12px;margin:2px 0 -3px;color:#333333;}
.popular-data table {border-top:1px solid #95B3D7; border-left:1px solid #95B3D7; margin-top:5px;}
.popular-data td {border-bottom:1px solid #95B3D7; border-right:1px solid #95B3D7; padding:5px;}
.title {background:url(../images/table_heading.png) 0 -32px; height:22px; position:relative; color:#FFFFFF; font-weight:bold; padding:0 5px; line-height:12px; margin:0px;}
.seemore { text-align:right;margin-top:3px; }
.seemore a { color:green;font-size:13px;}
.font-size10 { font-size:10px; color:#666;}


.clear { clear:both}

.contai_popup { width:auto; border:0px solid #555; padding-bottom: 10px;}
.buttunblue {margin:10px;}
.buttunblue input{ background:#336699;padding:0px 8px 0px;text-align:center;border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;border-style:solid;border-width:1px; color:#fff; font-weight:bold;cursor:pointer;}
.buttunblue a{background:#336699;padding:3px 8px 3px;text-align:center;border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;border-style:solid;border-width:1px; color:#fff; font-weight:bold;}
.buttunblue a:hover { font-size:11px; text-decoration:none;}
.buttungray {margin:10px 10px 10px 0px;}
.buttungray input{ background:#f0f0f0;padding:0px 8px 0px;text-align:center;border-color:#e7e7e7 #666666 #666666 #e7e7e7;border-style:solid;border-width:1px; color:#000; font-weight:normal;cursor:pointer;}
.buttungray a{background:#f0f0f0;padding:3px 8px 3px;text-align:center;border-color:#e7e7e7 #666666 #666666 #e7e7e7;border-style:solid;border-width:1px; color:#000; font-weight:normal;}
.buttungray a:hover { font-size:11px; text-decoration:none;}
.textblue {color:#336699; padding:0px 20px 20px 20px}
.title_popup { width:auto; border:0px solid #FFFFFF; height:25px; background:#336699}
.bottom_popup { background:#f5f5f5; height:40px; width:auto; border-top:1px solid #bdbdbd;}
.buttunblue li{ display:inline;padding:3px 8px 3px;}
.buttungray li{ display:inline;padding:3px 8px 3px;}

.button_friend { float: right; line-height: 30px; margin-right: 10px; }

.add_faq { position:absolute; top:0px; right:0px;}
