.rel {
	position:relative!important;
}
.pd_lightbox {
	padding:10px 10px 0px;
	background:#fff
}

.clr {
	clear:both;
}
.fleft {
	float:left;
}
.btnFan {
	width:104px;
	height:22px;
	text-align:left;
	background:url(/images/zme_btnfan.png);
	background-repeat:no-repeat;
	border:0px;
	margin:0px;
	cursor:pointer;
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:3px;
	padding-left:26px;
}
.blogVNX .topTitle h2 {
	font-size:14px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	text-align:left;
	display:block;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:16px;
	position:relative;
}
.icon_close {
	width:18px;
	height:16px;
	position:absolute;
	right:8px;
	top:8px;
	z-index:1100;
	padding-right:0px;
	cursor:pointer;
	background:url(/images/ico_photo.gif) no-repeat left -471px;
}
.blogVNX .topTitle {
	background:url(/images/img_repeat_1.01.gif) repeat-x left -394px;
	height:36px;
	position:relative;
}
.blogVNX .topTitle .iconlt {
	float:left;
	width:5px;
	position:absolute;
	left:0px;
	background:url(../images/img_lightbox.gif) no-repeat left -98px;
}
.blogVNX .topTitle .iconrt {
	float:right;
	width:5px;
	position:absolute;
	right:0px;
	top:0px;
	background:url(../images/img_lightbox.gif) no-repeat left -144px;
}
.blogVNX .topTitle2 {
	background-image:url(../images/zme_bgrepeat.png);
	background-repeat:repeat-x;
	background-position:left -139px;
	height:31px;
	position:relative;
}
.blogVNX .topTitle2 h2 {
	font-size:14px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	text-align:left;
	display:block;
	padding-top:7px;
	padding-left:16px;
}
.blogVNX .topTitle2 .iconlt2 {
	float:left;
	width:5px;
	position:absolute;
	left:0px;
	height:31x;
}
.blogVNX .topTitle2 .iconrt2 {
	float:right;
	width:5px;
	position:absolute;
	right:0px;
	top:0px;
	height:31x;
}
.cntBlog {
	height:1%;
}
.vipham {
	font-size:11px;
	font-weight:bold;
	color:#666666;
	text-decoration:none;
	text-align:left;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:16px;
}
.vipham .select {
	height:20px;
	width:245px;
	padding-left:5px;
	margin-left:3px;
}
.blogVNX .footerblog {
	height:45px;
	position:relative;
	background:url(../images/img_repeat_1.01.gif) repeat-x left -531px;
}
.blogVNX .hBtn {
	padding-top:5px;
	padding-bottom:3px;
	padding-left:12px;
	text-align:center;
}
.blogVNX .footerblog .fl_leftfooter {
	background:url(../images/img_lightbox.gif) left -190px;
	height:44px;
	width:5px;
	position:absolute;
	left:0px;
	top:1px;
}
.blogVNX .footerblog .fl_rightfooter {
	background:url(../images/img_lightbox.gif) left -244px;
	height:44px;
	width:5px;
	position:absolute;
	right:0px;
	top:1px;
}
.cntBlog .rwFriend {
	padding:10px;
	height:1%;
}
.cntBlog .rwFriend .rwfr {
	position:relative;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
	margin:0px;
	padding-right:0px;
}
.cntBlog .rwFriend .rwfr h1 {
	font-size:11px;
	font-weight:bold;
	color:#666666;
	text-decoration:none;
	margin:0px;
	padding-left:22px;
}
.cntBlog .rwFriend .rwfr p {
	padding-left:22px;
}
.cntBlog .rwFriend .rwfr .radio {
	position:absolute;
	width:16px;
	left:0px;
	margin:0px;
	padding:0px;
	float:left;
}
.cntBlog .rwFriend .avatar {
	float:left;
	height:50px;
	width:50px;
	margin-right:10px;
	position:relative;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
}
.cntBlog .box_userc {
	padding-top:5px;
	padding-right:10px;
	padding-bottom:5px;
	padding-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#fffdf4;
	border-top-width:1px;
	border-bottom-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-top-color:#f4d0a4;
	border-bottom-color:#f4d0a4;
}
.cntBlog .box_userc .title_loaitru {
	font-size:11px;
	font-weight:bold;
	color:#cc0000;
	background-image:url(../images/zme_warning.png);
	background-repeat:no-repeat;
	background-position:left 3px;
	text-align:left;
	display:block;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:20px;
}
.cntBlog .box_userc .input_member {
	position:relative;
	padding-top:5px;
	padding-bottom:5px;
	height:25px;
}
.cntBlog .box_userc .input_member .input {
	position:absolute;
	left:0px;
	width:325px;
	border:1px solid #bdc7d8;
	height:16px;
	font-size:11px;
	font-weight:normal;
	color:#999999;
	text-decoration:none;
	padding-top:3px;
	padding-left:2px;
}
.cntBlog .box_userc .input_member .paNut {
	right:0px;
	top:6px;
	padding-bottom:2px;
	font-weight:bold;
	font-size:11px;
	color:#333333;
}
.cntBlog .box_userc .box_member {
	height:1%;
	padding-bottom:5px;
	padding-top:5px;
	border:0px!important;
}
.cntBlog .box_userc .box_member ul {
	text-align:left;
	margin:0px;
	padding:0px;
	list-style-image:none;
	list-style-type:none;
	height:1%;
}
.cntBlog .box_userc .box_member ul li {
	background-color:#f1f5f8;
	text-align:left;
	border:1px solid #bdc7d8;
	float:left;
	width:115px;
	margin-top:0px;
	margin-right:4px;
	margin-bottom:6px;
	margin-left:0px;
	position:relative;
	padding-top:2px;
	padding-right:16px;
	padding-bottom:2px;
	padding-left:4px;
}
.cntBlog .box_userc .icon_deluser {
	position:absolute;
	width:6px;
	height:6px;
	right:4px;
	top:7px;
}
.cntBlog .rwFriend .avatar .mask {
	background:transparent url(../images/zme_maskavatar.png) no-repeat!important;
	height:50px;
	width:50px;
	display:block;
	*background-image:none;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/zme_maskavatar.png',sizingMethod='crop');
	margin:0px;
	padding:0px;
	position:absolute;
}
.cntBlog .rwFriend .picAva {
	width:50px;
	float:left;
	margin-right:10px;
}
.cntBlog .rwFriend .rwop {
	padding-top:2px;
}
.cntBlog .rwFriend .rwop1 {
	padding-top:5px;
	padding-bottom:5px;
}
.cntBlog .rwFriend .inputcode {
	width:128px;
	border:1px solid #c9d5e2;
}
.cntBlog .rwFriend .mgForm {
	padding-top:7px;
	padding-bottom:0px;
}
.cntBlog .rwFriend .noteen {
	font-size:10px;
	color:#666666;
	padding-right:4px;
	text-align:left
}
.cntBlog .rwFriend .input {
	width:345px;
	height:45px;
	border:1px solid #c9d5e2;
}
.cntBlog .rwFriend .message {
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	text-align:left;
	float:left;
	width:348px;
}
.cntBlog .rwFriend .message a {
	font-size:11px;
	font-weight:bold;
	color:#496ca4;
	text-decoration:none;
	text-align:left;
}
.cntBlog .rwFriend .message a:hover {
	font-size:11px;
	font-weight:bold;
	color:#496ca4;
	text-decoration:none;
	text-align:left;
}
.cntBlog .typeMessa {
	padding-top:0px;
	padding-right:10px;
	padding-bottom:5px;
	padding-left:10px;
}
.cntBlog .typeMessa .note {
	font-size:11px;
	font-weight:bold;
	color:#555555;
	text-decoration:none;
	text-align:left;
	padding-bottom:3px;
	position:relative;
}
.cntBlog .typeMessa .note .key {
	font-size:10px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	position:absolute;
	right:0px;
}
*html .cntBlog .typeMessa .note .key {
	font-size:10px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	position:absolute;
	right:10px;
}
.cntBlog .typeMessa .input {
	height:50px;
	width:408px;
	border:1px solid #c9d5e2;
}
.cntBlog .hselect {
	padding-top:8px;
	padding-bottom:8px;
	height:1%;
	padding-right:10px;
	padding-left:10px;
}
.cntBlog .hselect .group {
	display:block;
	float:left;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:5px;
	width:195px;
	position:relative;
}
.cntBlog .hselect .group .input {
	height:16px;
	width:150px;
	border:1px solid #c9d5e2;
	text-align:left;
	margin-bottom:3px;
	top:0px;
	margin-right:4px;
	padding-top:2px;
	font-family:Tahoma,Arial,Verdana,sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	padding-right:2px;
	padding-left:2px;
}
.cntBlog .hselect .group .inputac {
	height:16px;
	width:150px;
	border:1px solid #dcdcdc;
	text-align:left;
	margin-bottom:3px;
	top:0px;
	margin-right:4px;
	padding-top:2px;
	font-family:Tahoma,Arial,Verdana,sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	background-color:#f6f6f6;
}
.nut {
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	background:url(../images/zme_btn2.png);
	border:0px;
	cursor:pointer;
	margin:0px;
	padding:0px;
	background-position:center center;
	text-align:center;
	height:21px;
	width:46px;
}
.nutOK {
	position:absolute;
	top:0px;
}
.nutC {
	position:absolute;
	top:0px;
	right:-65px;
}
.cntBlog .hselect .group a {
	font-size:11px;
	font-weight:normal;
	color:#496ca4;
	text-decoration:none;
	text-align:left;
	padding-top:3px;
}
.cntBlog .hselect .group a:hover {
	font-size:11px;
	font-weight:normal;
	color:#496ca4;
	text-decoration:underline;
	text-align:left;
	padding-top:3px;
}
.cntBlog .hselect .select {
	width:58px;
	height:16px;
	color:#333333;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	padding-top:2px;
	padding-bottom:3px;
	padding-left:5px;
	background:url(../images/zme_select3.png);
	background-repeat:no-repeat;
	background-position:left top;
	text-align:left;
	padding-right:55px;
	margin-right:3px;
	float:left;
	display:block;
}
.cntBlog .hselect ul {
	background-color:#FFFFFF;
	text-align:left;
	margin:0px;
	padding:0px;
	width:150px;
	list-style-type:none;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-color:#d2dadd;
	border-bottom-color:#d2dadd;
	border-left-color:#d2dadd;
	z-index:1500;
}
.cntBlog .hselect ul li {
	font-size:11px;
	font-weight:normal;
	color:#555555;
	text-decoration:none;
	text-align:left;
	margin:0px;
	list-style-image:none;
	list-style-type:none;
	background-color:#FFFFFF;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#f1f4f7;
	padding:0px;
	width:150px;
	display:block;
}
.cntBlog .hselect ul li a {
	font-size:11px;
	font-weight:normal;
	color:#555555;
	text-decoration:none;
	text-align:left;
	margin:0px;
	width:140px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:10px;
	display:block;
}
.cntBlog .hselect ul li a:hover {
	font-size:11px;
	font-weight:normal;
	color:#555555;
	text-decoration:none;
	text-align:left;
	background-color:#f1f4f7;
	margin:0px;
	width:140px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:10px;
	display:block;
}
.cntBlog .mgBox {
	text-align:center;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
}
.cntBlog .marginBox {
	width:305px;
	float:left;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
}
.cntBlog .titleGroup {
	font-size:12px;
	font-weight:bold;
	color:#555555;
	text-align:left;
	padding-bottom:5px;
}
.cntBlog .bgBox {
	background-color:#f8fafb;
}
.cntBlog .boxIn {
	height:1%;
}
.cntBlog .boxIn .topBox {
	height:3px;
	margin:0px;
	padding:0px;
	background-image:url(../images/zme_topblog.gif);
	background-position:left top;
	background-repeat:repeat-x;
}
.cntBlog .boxIn .topBox .fl_left {
	width:3px;
	float:left;
	height:3px;
	margin:0px;
	padding:0px;
	background-image:url(../images/zme_topleftblog.gif);
	background-repeat:no-repeat;
	background-position:left top;
}
.cntBlog .boxIn .topBox .fl_right {
	width:3px;
	padding:0px;
	float:right;
	height:3px;
	background-image:url(../images/zme_toprightblog.gif);
	background-repeat:no-repeat;
	background-position:right top;
	margin:0px;
}
.cntBlog .boxIn .btmBox {
	background-image:url(../images/zme_btmblog.gif);
	background-repeat:repeat-x;
	background-position:left bottom;
	margin:0px;
	padding:0px;
	height:3px;
}
.cntBlog .boxIn .btmBox .bl_left {
	width:3px;
	background-image:url(../images/zme_btmleftblog.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
	display:block;
	margin:0px;
	padding:0px;
	float:left;
	height:3px;
}
.cntBlog .boxIn .btmBox .bl_right {
	width:3px;
	background-image:url(../images/zme_btmrightblog.gif);
	background-repeat:no-repeat;
	background-position:right bottom;
	margin:0px;
	padding:0px;
	float:right;
	height:3px;
}
.cntBlog .boxIn .info {
	border-right-width:1px;
	border-left-width:1px;
	border-right-style:solid;
	border-left-style:solid;
	border-right-color:#cad6e4;
	border-left-color:#cad6e4;
	padding-top:4px;
	padding-right:0px;
	padding-bottom:2px;
	padding-left:0px;
	height:1%;
}
.cntBlog .boxIn .info ul {
	text-align:left;
	display:block;
	margin:0px;
	padding:0px;
	list-style-image:none;
	list-style-type:none;
}
.cntBlog .boxIn .info .scroll {
	max-height:320px;
	height:auto;
	overflow:auto;
}
.cntBlog .boxIn .info .scroll2 {
	max-height:290px;
	height:auto;
	overflow:auto;
}
.blogVNX .top_infotitle {
	background-color:#f1f5f8;
	margin-left:1px;
	margin-right:1px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:11px;
	font-weight:bold;
	color:#666666;
	text-decoration:none;
}
*html .cntBlog .boxIn .info .scroll {
	height:auto;
	height:320px!important;
	overflow:auto;
}
*html .cntBlog .boxIn .info .scroll2 {
	height:auto;
	height:290px!important;
	overflow:auto;
}
.cntBlog .boxIn .info ul li {
	text-align:left;
	display:block;
	margin:0px;
	list-style-image:none;
	list-style-type:none;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:0px;
	font-weight:normal;
	text-decoration:none;
	font-size:12px;
	color:#4c78b2;
	padding-left:12px;
}
.cntBlog .boxIn .info ul li a {
	font-weight:normal;
	text-decoration:none;
	font-size:12px;
	color:#4c78b2;
	background-image:url(../images/zme_li.gif);
	background-repeat:no-repeat;
	background-position:left 8px;
	padding-left:12px;
	padding-top:2px;
	padding-bottom:2px;
	text-align:left;
	display:block;
}
.cntBlog .boxIn .info ul li a:hover {
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	display:block;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:12px;
	text-decoration:none;
	background-color:#7699d1;
	background-image:url(../images/zme_li2.gif);
	background-repeat:no-repeat;
	background-position:left 8px;
}
.cntBlog .boxIn .info ul a.CurAc {
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	display:block;
	text-decoration:none;
	background-color:#7699d1;
	background-image:url(../images/zme_li2.gif);
	background-repeat:no-repeat;
	background-position:left center;
	padding-bottom:1px;
	padding-top:1px;
}
.cntBlog .boxIn .info ul a.CurAc:hover {
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	display:block;
	text-decoration:none;
	background-color:#7699d1;
	background-image:url(../images/zme_li2.gif);
	background-repeat:no-repeat;
	background-position:left center;
	padding-bottom:1px;
	padding-top:1px;
}
.searchlb {
	border:1px solid #cbd8ea;
	margin-bottom:10px;
}
.searchlb .btnslb {
	background:url(../images/zme_iconsearchs.png) no-repeat center center;
	width:22px;
	height:21px;
	border:0px;
	cursor:pointer;
	margin:0px;
	padding:0px;
}
.searchlb .input {
	width:276px;
	border:0px;
	padding-bottom:3px;
	font-size:12px;
	color:#333333;
}
.cntBlog .boxIn .info ul li .cbox {
	width:14px;
	margin-right:4px;
}
.blogVNX .txtComple {
	padding-bottom:20px;
	padding-top:20px;
	text-align:center;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
}
.blogVNX .txtComple .homeback {
	padding-bottom:3px;
	padding-top:5px;
	display:block;
}
.blogVNX .txtComple a {
	text-align:center;
	font-size:11px;
	font-weight:bold;
	color:#496ca4;
	text-decoration:none;
}
.blogVNX .txtComple a:hover {
	text-align:center;
	font-size:11px;
	font-weight:bold;
	color:#496ca4;
	text-decoration:underline;
}
.blogEditlist {
	background-color:#f1f4f7;
	height:22px;
	margin-top:4px;
	margin-right:2px;
	margin-left:2px;
	font-size:12px;
	font-weight:normal;
	color:#555555;
	text-decoration:none;
	padding-top:3px;
	padding-bottom:2px;
	padding-left:10px;
	position:relative;
}
.blogEditlist a {
	font-size:11px;
	font-weight:normal;
	color:#4f81b8;
	text-decoration:none;
}
.blogEditlist a:hover {
	font-size:11px;
	font-weight:normal;
	color:#4f81b8;
	text-decoration:underline;
}
.blogEditlist .xoanhom {
	font-size:11px;
	font-weight:bold;
	color:#4f81b8;
	text-decoration:none;
	width:auto;
	position:absolute;
	right:15px;
	top:6px;
}
.blogEditlist .xoanhom a {
	font-size:11px;
	font-weight:bold;
	color:#4f81b8;
	text-decoration:none;
}
.blogEditlist .xoanhom a:hover {
	font-size:11px;
	font-weight:bold;
	color:#4f81b8;
	text-decoration:underline;
}
.blogEditlist .boxGroup {
	float:left;
	width:250px;
	height:1%;
	position:relative;
}
.blogEditlist .boxGroup .txtEdit {
	height:16px;
	position:relative;
	width:140px;
	border:1px solid #b4cae3;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	padding-top:2px;
	padding-left:3px;
}
.blogEditlist .boxGroup .nut {
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	background:url(../images/zme_btn2.png);
	border:0px;
	cursor:pointer;
	margin:0px;
	padding:0px;
	background-position:center center;
	text-align:center;
	height:21px;
	width:46px;
}
.blogEditlist .boxGroup .nutOK {
	position:absolute;
	top:0px;
}
.blogEditlist .boxGroup .nutC {
	position:absolute;
	top:0px;
	right:-10px;
}
.blogEditlist a.CurList {
	font-size:12px;
	font-weight:normal;
	color:#555555;
	text-decoration:none;
}
.blogEditlist a:hover.CurList {
	font-size:12px;
	font-weight:normal;
	color:#555555;
	text-decoration:none;
}
.listMember {
	height:1%;
	padding-bottom:10px;
	padding-top:10px;
	background-color:#f8f8f8;
	padding-right:10px;
	padding-left:10px;
	overflow:auto;
	max-height:330px;
	height:auto;
	height:330px;
	position:relative;
}
*html .listMember {
	height:auto!important;
	height:330px;
}
.infoVIP {
	height:1%;
	padding-bottom:10px;
	padding-top:10px;
	background-color:#f8f8f8;
	padding-right:10px;
	padding-left:10px;
}
.leftVIP {
	width:241px;
	float:left;
	font-size:11px;
	color:#333333;
	margin-right:15px;
}
.leftVIP2 {
	width:350px;
	float:left;
	font-size:11px;
	color:#333333;
	margin-right:20px;
}
.box_option {
	background-color:#eef1f5;
	text-align:left;
	padding:5px;
	margin-top:8px;
}
.box_option .p1 {
	display:block;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	background-image:url(../images/zme_btnnut.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:22px;
}
.box_option .p2 {
	display:block;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	background-image:url(../images/zme_btnnut2.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:22px;
}
.box_option .p23 {
	display:block;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	background-image:url(../images/zme_btnnut.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:22px;
}
.box_option .p22 {
	display:block;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	background-image:url(../images/zme_btnnut2.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:22px;
}
.box_option .p3 {
	display:block;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
}
.box_option .input {
	border:1px solid #d7dee5;
	width:333px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:11px;
	font-weight:normal;
	color:#808080;
}
.box_member {
	border:1px solid #7595ba;
	margin:0px!important;
	padding:0px!important;
}
.mgAcc {
	background-color:#f1f5f8;
	margin:0px!important;
	padding:10px!important;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#d6e0ec;
}
.small_Marginavatar {
	margin-right:10px;
	margin-left:0px;
}
.small_avatar {
	width:41px;
	position:relative;
}
.small_Maskavatar {
	background-image:url(../images/zme_maskavatars.gif);
	background-repeat:no-repeat;
	background-position:center center;
	height:41px;
	width:41px;
	position:absolute;
}
.small_Imgavatar {
	height:41px;
	width:41px;
}
.mgrMember {
	margin-right:8px;
}
*html .mgrMember {
	padding-right:8px;
	margin:0px;
}
.mgMainm {
	padding-bottom:10px;
	padding-top:5px;
	padding-right:10px;
}
.fanclub {
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	text-align:left;
	padding-top:3px;
	padding-right:0px;
	padding-bottom:3px;
	padding-left:10px;
	display:block;
	width:auto;
}
.nMember {
	height:1%;
	padding-top:5px;
	padding-right:0px;
	padding-bottom:5px;
	padding-left:10px;
	width:395px;
}
.cMember {
	float:left;
	height:1%;
	display:block;
	position:relative!important;
	height:70px;
}
.cMember p {
	display:block;
	text-align:left;
	position:absolute!important;
	bottom:0px;
	left:0px;
}
.cMember p a {
	display:block;
	padding-bottom:8px;
}
.mgAcc .p {
	display:block;
	text-align:left;
	padding-bottom:6px;
}
.rightVIP {
	float:left!important;
}
.widthRV {
	width:375px!important;
}
.widthRV2 {
	width:415px!important;
}
.rightVIP .p2 {
	display:block;
	text-align:left;
	padding-bottom:8px;
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
}
.blogOption {
	height:33px;
}
.blogOption .searchs {
	float:right;
	width:225px;
	height:28px;
	padding-right:17px;
	padding-top:5px;
	position:relative;
	padding-left:22px;
	text-align:right;
}
.blogOption .searchs .iconsearchs {
	background-repeat:no-repeat;
	background-position:left top;
	margin:0px;
	padding:0px;
	cursor:pointer;
	margin-right:3px;
	border:0px;
	width:16px;
	height:16px;
	left:23px;
	top:9px;
	position:absolute;
	background:url(../images/zme_iconsearchs.png);
}
.blogOption .searchs .inputsearchs {
	height:18px;
	width:197px;
	border:1px solid #b4cae3;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	padding-top:2px;
	padding-left:3px;
	line-height:17px;
}
.blogOption .selectType {
	position:relative;
	height:15px;
	padding-left:36px;
	padding-top:8px;
	font-size:11px;
	font-weight:bold;
	color:#555555;
	text-decoration:none;
	width:300px;
	float:left;
}
.blogOption .selectType a {
	font-size:11px;
	font-weight:bold;
	color:#555555;
	text-decoration:none;
}
.blogOption .selectType a:hover {
	font-size:11px;
	font-weight:bold;
	color:#555555;
	text-decoration:underline;
}
.blogOption .selectType .icheck {
	position:absolute;
	width:12px;
	left:15px;
	top:6px;
}
.listMember .mrright {
	margin-right:10px;
	margin-bottom:10px;
}
.listMember .member {
	height:56px;
	width:186px;
	float:left;
	padding:5px;
	position:relative;
}
.listMember .cur_member {
	background-image:url(../images/zme_listactive.png);
	background-repeat:no-repeat;
	background-position:left top;
}
.blogVNX .avatar {
	width:50px;
	float:left;
	position:relative;
	padding:0px!important;
}
.blogVNX .mg_avatar {
	margin-right:10px;
}
.blogVNX .mask_avatar {
	background:transparent url(images/zme_maskavatar.png) no-repeat!important;
	height:50px;
	width:50px;
	display:block;
	*background-image:none;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/zme_maskavatar.png',sizingMethod='crop');
	margin:0px;
	padding:0px;
	position:absolute;
	background-image:url(images/zme_maskavatar.png);
}
.img_avatar {
	width:50px;
	height:50px;
	border:0px;
}
.listMember .member .checkbox {
	margin:0px;
	padding:0px;
	float:left;
	padding-right:3px;
}
.listMember .member .infoMember {
	float:left;
	width:160px;
}
.listMember .member .infoMember .username {
	width:100px;
	float:left;
	padding-left:7px;
}
.listMember .member .infoMember .username .group {
	font-size:11px;
	font-weight:normal;
	color:#888888;
	text-decoration:none;
	padding:0px;
	margin:0px;
	line-height:14px;
}
.listMember .member .infoMember .username h1 {
	font-size:12px;
	font-weight:bold;
	color:#476da4;
	text-decoration:none;
}
.listMember .member .infoMember .username h1 a {
	font-size:12px;
	font-weight:bold;
	color:#476da4;
	text-decoration:none;
}
.listMember .member .infoMember .username h1 a:hover {
	font-size:12px;
	font-weight:bold;
	color:#476da4;
	text-decoration:underline;
}
/*.btnOK,.taods,.cancelds,.nhanxet,.huybo,.danganh {
	cursor:pointer;
	border:0px;
	margin:0px;
	background-repeat:no-repeat;
	background-position:center center;
	height:23px;
	width:95px;
	font-family:Tahoma,Arial,Verdana,sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	background:url(../images/zme_btnall.png);
	text-align:center;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:2px;
	padding-left: 0px;
}
*/
.btnOK,.taods,.cancelds,.nhanxet,.huybo,.danganh {
	cursor:pointer;
	margin:0px;
	height:24px;
	width:90px;
	font-family:Tahoma,Arial,Verdana,sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-align:center;
	padding:0px 10px 2px 10px;
	background:url(../images/btn_v2_1.02.gif) left -320px;
	border:0px;
}
.btnCancel {
	cursor:pointer;
	margin:0px;
	height:24px;
	width:90px;
	font-family:Tahoma,Arial,Verdana,sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#555;
	text-decoration:none;
	text-align:center;
	padding:0px 10px 2px 10px;
	background:url(../images/btn_v2_1.02.gif) left -354px;
	border:0px;
}
.align_addFriend {
	position:absolute;
	left:0px;
	top:10px;
}
.blogVNX .hBtn {
	padding-top:7px;
	padding-bottom:3px;
	text-align:left;
	padding-right:17px;
	padding-left: 10px;
}
/*-------------------------------------End Light box New list-------------------------------------------------*/
.blogVNX {
	border-collapse:collapse;
	direction:ltr;
	position:absolute;
	float:left;
	left:1px;
	top:1px;
}
.wlist {
	width:675px;
}
.wflash {
	width:774px;
}
*html .wlist {
	width:676px;
}
.wlb_big {
	width:600px;
}
.wlb_height {
	
}
.wlb_small {
	width:445px;
}
*html .wlb_small {
	width:446px;
}
.blogVNX .topList {
	background:transparent url(../images/img_lightbox.gif) left -19px !important;
	height:7px!important;
}
.blogVNX .fl_leftList {
	background:transparent url(../images/img_lightbox.gif)!important;
	width:7px!important;
	height:7px;
}
.blogVNX .fl_rightList {
	background:url(../images/img_lightbox.gif) no-repeat left -36px!important;
	width:7px;
	height:7px;
}
.blogVNX .leftList {
	background:#5a82b8;
	width:7px!important;
}
.blogVNX .rightList {
	background:#5a82b8;
	width:7px!important;
}
.blogVNX .btmList {
	background:transparent url(../images/img_lightbox.gif) left -19px !important;
	height:7px!important;
}
.blogVNX .fl_bleftList {
	background:transparent url(../images/img_lightbox.gif) no-repeat left -81px !important;
	width:7px!important;
	height:7px;
}
.blogVNX .fl_brightList {
	background:transparent url(../images/img_lightbox.gif) no-repeat left -64px !important;
	width:7px!important;
	height:7px;
}
.blogVNX .topTitlenx {
	height:5px;
	background-color:#FFFFFF;
}
.blogVNX .topTitlenx .iconlnx {
	float:left;
	width:5px;
}
.blogVNX .topTitlenx .iconrnx {
	float:right;
	width:5px;
}
.blogVNX .cntNhanxet {
	margin:0px;
	height:1%;
	padding-top:0px;
	padding-right:10px;
	padding-bottom:0px;
	padding-left:10px;
}
.blogVNX .cntNhanxet .notenx {
	font-size:11px;
	line-height:15px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	text-align:left;
	padding-bottom:6px;
	padding-top:4px;
}
.blogVNX .cntNhanxet .txtInput {
	height:50px;
	width:408px;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:#808080;
	border-right-color:#d4d0c8;
	border-bottom-color:#d4d0c8;
	border-left-color:#808080;
}
.blogVNX .cntNhanxet .title_nhanxet {
	font-size:12px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	padding-top:4px;
	padding-bottom:4px;
	position:relative;
}
.blogVNX .cntNhanxet .title_nhanxet .key {
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	position:absolute;
	right:0px;
}
.blogVNX .hBtn {
	padding-top:10px;
	padding-bottom:6px;
}
.cntBlog .jokebox {
	padding-top:3px;
	padding-bottom:3px;
	height:1%;
	padding-right:0px;
	padding-left:0px;
}
.cntBlog .joke {
	width:90px;
	height:16px!important;
	color:#333333!important;
	font-size:11px!important;
	font-weight:normal!important;
	text-decoration:none;
	padding-top:2px;
	padding-bottom:3px;
	padding-left:2px;
	background:url(../images/zme_select3.png);
	background-repeat:no-repeat;
	background-position:left top;
	text-align:left;
	padding-right:55px;
	margin-right:3px;
	display:block;
	margin-top:7px;
}
.cntBlog .joke a {
	font-weight:normal!important;
	padding-left:3px;
}
.cntBlog .rwsuggest {
	padding:7px 10px 5px 15px;
	height:1%;
	font-size:14px;
	font-weight:bold;
}
.cntBlog .content {
	padding:0px 0 3px 15px;
	height:1%;
	font-size:11px;
}
.cntBlog .option {
	padding:0px 0 3px 15px;
	height:1%;
	font-size:11px;
	float:left;
}
.listMember .selectType {
	margin-bottom:5px;
	margin-left:5px;
}
.blogOption .selectBox {
	float:left;
	width:225px;
	height:28px;
	padding-left:15px;
	padding-top:5px;
	position:relative;
	text-align:left;
}
.popshare {
	width:141px;
	padding:4px 4px 0px 4px;
	background:#FFFFFF;
	border-left:#c9d5e2 solid 1px;
	border-right:#c9d5e2 solid 1px;
	border-bottom:#c9d5e2 solid 1px;
	font-size:11px;
}
.imgtop {
	background-image:url(../images/img_topshare.png);
	background-repeat:no-repeat;
	width:150px;
	height:7px;
}
.linktext {
	background-color:#f8f8f8;
	border:#e4e9f1 solid 1px;
	width:139px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:11px;
	border:1px solid #ffoooo;
	display:block;
	text-align:center;
	color:#999999;
}
.icoshare {
	margin-top:4px;
	font-size:11px;
	padding-top:0px;
	padding-bottom:2px;
}
.share_avatarM {
	background:transparent url(../images/zme_maskavatar.png) no-repeat!important;
	height:50px;
	width:50px;
	display:block;
	*background-image:none;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/zme_maskavatar.png',sizingMethod='crop');
	margin:0px;
	padding:0px;
	position:absolute;
}
.share_avatar {
	width:70px;
	height:107px;
	float:left;
}
.share_img {
	float:left;
	width:300px;
	margin-left:10px;
}
.share_txt {
	float:left;
	width:auto;
	margin:0px;
	padding-top:5px;
	padding-bottom:10px;
}
.share_cont {
	margin:0px;
	height:1%;
	padding:10px;
}
.share_main {
	margin-bottom:5px!important;
	padding:0px!important;
}
.mgtop {
	margin-top: 5px!important;
}
/*----------- Box tag friend --------------*/
.fTag {
	width:266px;
	height:20px;
	padding:5px 0px 3px 5px;
	background:#6b9ace;
	background:url(../images/img_repeat_1.01.gif) repeat-x left -440px;
	border-top:1px solid #d6dee6;
	float:left;
	margin-top:8px;
}
.fTag .fTag_l {
	width:84%;
	height:20px;
	color:#333;
	font:bold 12px Arial;
	margin-bottom:3px;
	float:left;
	background:url(../images/btn_v2_1.02.gif) no-repeat left -388px;
}
.fTag .fTag_r a {
	width:16%;
	float:left;
	background-image:url(../images/ico_photo.gif);
	background-repeat:no-repeat
}
.fTag .fTag_r a.btnLeft {
	width:20px;
	height:20px;
	background-position:left -412px;
	float:left
}
.fTag .fTag_r a.btnRight {
	width:19px;
	height:20px;
	background-position:left -383px;
	float:left
}
.titleSearch {
	display:block;
	width:auto;
	padding-left:0px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:3px;
	margin-top:3px;
	float:left;
}
.box_search {
	width:275px;
	height:25px;
	margin-bottom:15px;
}
.search {
	height:23px;
	width:205px;
	display:block;
	padding:0px 2px 0 1px;
	border:1px solid #7e9dba;
	float:left;
}
.search .input {
	width:175px;
	height:20px;
	border:0;
	padding-top:3px 0 3px 4px;
	font-size:11px;
	z-index:5;
	margin:1px 1px 0 0;
	float:left;
}
.search .icon_search {
	cursor:pointer;
	height:19px;
	width:22px;
	z-index:10;
	background:url(../images/ico_photo.gif) no-repeat left -442px;
	border:0;
	float:right;
	text-align:center;
	display:block;
	padding:0px;
	margin:2px;
}
.line {
	border-bottom:1px solid #e1e1e1;
	font-size:11px;
	line-height:16px
}
.info_tag {
	width:275px;
	overflow:hidden;
}

.info_tag label
{
    cursor:pointer;
}

.info_tag ul {
	text-align:left;
	padding:0px;
	list-style-type:none;
	margin:0px;
	height:165px;
	max-height:245px;
	position:relative;
	overflow:auto;
}
.info_tag ul li {
	color:#333;
	height:16px;
	display:block;
	padding:4px 0 4px 10px;
	margin:0px;
	list-style-image:none;
	list-style-type:none;
}
.fchoose {
	width:548px;
	padding:7px 10px;
	margin-top:5px;
	float:left;
	background:#fff9d7
}
span.nameF {
	margin-right:7px;
}
span.nameF.end {
	margin-right:0 !important
}
span.deleF {
	color:#999;
	font-size:10px;
	margin-left:3px;
}
a.cancel {
	color: #999 !important
}