/* Copyright: Guillermo Rauch <http://devthought.com/> - Distributed under MIT - Keep this message! */
	/* TextboxList sample CSS */
ul.holder {
	margin: 0;
	border: 1px solid #8496BA;
	overflow: hidden;
	height: auto !important;
	height: 1%;
	padding: 4px 5px 0;
	 padding-top: 2px;
}

*:first-child+html ul.holder {
	padding-bottom: 2px;
}

* html ul.holder {
	padding-bottom: 2px;
}  /* ie7 and below */
ul.holder li {
	float: left;
	list-style-type: none;
	margin: 0 5px 4px 0;
	white-space: nowrap;
}

ul.holder li.bit-box,ul.holder li.bit-input input {
	font: 11px "Lucida Grande", "Verdana";
}

ul.holder li.bit-box {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #CAD8F3;
	background: #DEE7F8;
	 padding: 2px 3px 2px 5px;
	color:black;
}

ul.holder li.bit-box-focus {
	border-color: #598BEC;
	background: #598BEC;
	color: #fff;
}

ul.holder li.bit-input input {
	width: auto;
	overflow: visible;
	margin: 0;
	border: 0px;
	outline: 0;
	padding: 3px 0px 2px;
}  /* no left/right padding here please */
ul.holder li.bit-input input.smallinput {
	width: 20px;
}

ul.holder {
	width: 400px;
}

ul.holder {
	margin: 0 !important
}

ul.holder li.bit-box,#apple-list ul.holder li.bit-box {
	padding-right: 15px;
	position: relative;
	z-index: 1000;
}

#apple-list ul.holder li.bit-input {
	margin: 0;
}

#apple-list ul.holder li.bit-input input.smallinput {
	width: 5px;
}

ul.holder li.bit-hover {
	background: #BBCEF1;
	border: 1px solid #6D95E0;
}

ul.holder li.bit-box-focus {
	border-color: #598BEC;
	background: #598BEC;
	color: #fff;
}

ul.holder li.bit-box a.closebutton {
	position: absolute;
	right: 4px;
	top: 5px;
	display: block;
	width: 7px;
	height: 7px;
	font-size: 1px;
	background: url('../../images/primess/close.gif');
}

ul.holder li.bit-box a.closebutton:hover {
	background-position: 7px;
}

ul.holder li.bit-box-focus a.closebutton,ul.holder li.bit-box-focus a.closebutton:hover
	{
	background-position: bottom;
}

/* Autocompleter */
.zmp-auto {
	display: none;
	position: absolute;
	width: 412px;
	background: #eee;
	z-index: 1001;
}

.zmp-auto .default {
	padding: 5px 7px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
	font-family: "Lucida Grande", "Verdana";
	font-size: 11px;
}

.zmp-auto ul {
	margin: 0;
	padding: 0;
	overflow: auto;
	position: absolute;
	z-index: 9999
}

.zmp-auto ul li {
	padding: 5px 12px;
	z-index: 1000;
	cursor: pointer;
	margin: 0;
	list-style-type: none;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
	font: 11px "Lucida Grande", "Verdana";
	background-color: #eee
}

.zmp-auto ul li em {
	font-weight: bold;
	font-style: normal;
	background: #ccc;
}

.zmp-auto ul li.auto-focus {
	background-color: #3B5998!important;
	color: #fff!important;
}

.zmp-auto ul li.auto-focus em {
	background: none;
}

.deleted {
	background-color: #4173CC !important;
	color: #ffffff !important;
}

.hidden {
	display: none;
}

#demo ul.holder li.bit-input input {
	padding: 2px 0 1px;
	border: 1px solid #999;
}

.ie6fix {
	height: 1px;
	width: 1px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.tb-composebox {
	margin-left:20px;
	margin-top:10px;
	margin-right:20px;
	width:545px;

}

.kuiButtonConfirm {
	background:
		url("http://static.ak.fbcdn.net/rsrc.php/z8/r/ZwXDPgRSd7M.png") repeat
		scroll 0 0 #EEEEEE;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;

	line-height: normal !important;
	padding: 3px 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	background-color: #5B74A8;
	background-position: 0 -48px;
	border-color: #29447E #29447E #1A356E;
	color: #FFFFFF;
}

.tb-composebox-title {
	width: 465px;
	border: 1px solid #8496BA;
	height: auto !important;
	padding: 5px;
	font-size:11px;
	color: #555555;
    font-family: Tahoma,Arial,Verdana,sans-serif;
}

.tb-composebox-textcontent {
	border: 1px solid #8496BA;
	height: 56px;
	padding: 5px;
	width: 465px;
}

.tb-composebox-control {
	margin-right: 61px;
}

.tb-composebox-label {
	color: #777777;
	text-align:right!important;
	font-weight:bold;
	padding-right:3px;
	vertical-align:top;
}
.tb-composebox-cancel{
 background: url("../../images/primess/ZwXDPgRSd7M.png") repeat scroll 0 0 #EEEEEE;
    border-color: #999999 #999999 #888888;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;

    line-height: normal !important;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}
#friendcompose_feed {
	border-bottom: 1px solid #8496BA;
	}
#friendcompose_feed li{
background:white;
height:20px;
color:black;
border-left: 1px solid #8496BA;
border-right: 1px solid #8496BA;
}

.notice{
	color:#777777;
	font-size:9px;
	text-align:left;	
}

.textalert {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    margin: 1em 0;
    text-align: center;
}
