.nobor{border:none !important;}
#zmchat {bottom: 26px;height: 0;overflow: visible;padding: 0;position: fixed;right: 0;width: 100%;z-index: 900;}
* html body #zmchat {position: absolute;top: expression(document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight);left: expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - this.offsetWidth);width: expression(document.getElementById('zmchat-left').scrollWidth + document.getElementById('zmchat-right').scrollWidth + document.getElementById('zmchat-btnleft').scrollWidth + document.getElementById('zmchat-btnright').scrollWidth);}
#zmchat ul li {list-style: none outside none;}
.boldText {font-weight: bold;}
#zmchat-rheader, #zmchat-rheader span, #zmchat-filter, #zmchat-filterClr, #zmchat-rfooter, #zmchat-label, .zmchat-status, .zmchat-toolbar, .zmchat-tbbtn, .zmchat_icoinput, .zmchat-input span, .zmchat-friendBtn, .zmchat-btnCtn, .zmchat-closeBtn, .zmchat-popup-header, .zmchat-icoser, .zmechat-icotitle, .zmechat-icostt {background-image: url(../images/chat/sprite_chat-1.07.gif);}
#zmchat-rheader, #zmchat-rfooter, .zmchat-toolbar, .zmchat-friendBtn, .zmchat-popup-header, .zmechat-icotitle {background-repeat: repeat-x;}
#zmchat-rheader span, #zmchat-filter, #zmchat-filterClr, #zmchat-label, .zmchat-status, .zmchat-tbbtn, .zmchat_icoinput, .zmchat-input span, .zmchat-btnCtn, .zmchat-closeBtn {background-repeat: no-repeat;}
#zmchat-rheader span, #zmchat-filterClr, #zmchat-label, .zmchat-status, .zmchat-toolbar, .zmchat-btnCtn, .zmchat-closeBtn, .zmchat-popup-header {background-color: transparent;}
#zmchat-left {float: right;margin-right: 7px;}
#zmchat-right {background-color: #fff;float: right;width: 210px;height: 26px;}
#zmchat-rpopup {border-color: #095d93;border-style: solid;border-width: 0 0 0 1px;bottom: 0;right: 0;position: absolute;width: 209px;background-color: #fff;-moz-box-shadow:0 0 3px #666;-webkit-box-shadow:0 0 3px #666;box-shadow:0 0 3px #666; bottom:-26px;z-index: 910;}
#zmchat-rheader {background-color: #7998B6;background-position: 0 0;color: #fff;cursor: pointer;padding:2px 5px 4px; position:relative; height:20px;}
#zmchat-rheader span {background-position:0 -113px;padding-left: 19px;}
#zmchat-message {position: absolute;text-align: center;width: 100%;height: 18px;line-height: 24px;}
#zmchat-filter {background-color: #fff;background-position: 2px -370px;border: 1px solid #83a8bf;height: 23px; background:#f1f6fa; margin:5px;}
#zmchat-filterInput {border:0 none !important;width: 150px;display:inline;color: #555;float: left;outline: medium none;font-size:11px;padding: 2px 0 0 0;line-height: 18px; background:#F1F6FA;}
.zmchat-filterFocus input {color: #000 !important;font-style: normal !important;}
#zmchat-filterClr {background-position: 3px -275px;cursor: pointer;display: block;float: right;height: 18px;width: 20px;}
.zmchat-filterClr-active {background-position: 3px -296px !important;}
#zmchat-optionsList {background-color: #FFF;border: 1px solid #A2B8D4;bottom: 26px;position: absolute;right: 0;z-index: 901;outline: none; width:155px;}
#zmchat-optionsList.bottom {bottom: -67px;}
* html body #zmchat-optionsList {bottom: 28px;}
#zmchat-optionsList label {display: inline-block;padding: 2px 2px 2px 5px;min-width: 80%; color:#555;}
#zmchat-optionsList li {cursor: pointer;padding-left: 5px;}
#zmchat-optionsList li input[type="checkbox"] {border-width: 0px !important;margin: 0 !important;padding-right: 4px;*vertical-align: text-bottom;vertical-align: -3px\0;}
* html body #zmchat-optionsList li {padding-top: 3px;padding-bottom: 3px;}
#zmchat-optionsList li:hover, #impanel li:hover {background-color: #F9F0D8;}
#zmchat-friendlist {padding: 0;background-color: #fbfcfe;}
ul li.zmchat-friendItem{ padding-top:4px; padding-bottom:3px;}
ul li.zmchat-friendItem:hover, .zmchat-friendItem.activity:hover{ background:#e9f1f7;}

.zmchat-friendItem.activity{ border-bottom:1px solid #e3e6eb;padding-bottom:5px; padding-top:5px;position: relative;background-color: #fbfcfe;}
#friend-activities .cover{display: none;position: absolute;width: 100%;height: 100%;top: 0;background-color: #fff;z-index: 10000;}
* html body #zmchat-friendlist {height: 420px;}
.zmchat-friendItem a {color: #555 !important;display: block;line-height: 13px;margin: 0;outline: medium none;overflow: hidden;padding: 0px 5px;text-decoration: none !important;}
.zmchat-friendItem.active {background-color: #F1F6FA;}
.zmchat-friendAva {float: left;}
.zmchat-friendAva, .zmchat-friendAva img {height: 31px;width: 31px; padding-bottom:5px;}
.zmchat-friendAva.loading {background: transparent url(../images/loading_small31x31.gif) 0 0 no-repeat;}
.zmchat-status {background-position: 0 -41px;float: right;height: 11px;margin-top: 2px;width: 9px;}
.zmchat-friendName {height: 100%;_height: 29px;overflow: hidden;padding-left: 5px;white-space: nowrap;width: 75%;_width: 70%;}
.zmchat-friendName strong, .zmchat-friendName p {width: 100%; overflow: hidden; text-overflow: ellipsis;}
.zmchat-friendName strong {display: inline-block;}
.zmchat-friendName p{ color:#a3a3a3; padding-top:3px; padding-left:5px;}
.zmfriendact {height: 100%;overflow: hidden;padding-left: 5px;}
.zmfriendact.activity{word-wrap:break-word; line-height:15px;}
.zmchat-fIdle {background-position: 0 -67px;}
.zmchat-toolbar {background-position:0 -148px;height: 24px;padding: 0 0 0 6px;}
.zmchat-tbbtn {background-color: transparent;cursor: pointer;display: block;float: left;height: 100%;outline: medium none;width: 24px;}
.zmchat-emoBtn {background-position:0 -212px;}
.zmchat-buzzBtn {background-position:2px -171px;}
.zmchat-fontBtn {background-position: 0 -191px;}
.zmchat-savessBtn {background-position: 0 -389px;}
.zmchat-savessBtn.zmchat-bdisabled {background-position: 0 -409px; cursor: default;}
#zmchat-colorsList {background-color: #FFFFFF;border: 1px solid #197CB9;bottom: 52px;padding: 1px;position: absolute;z-index: 914;}
* html body #zmchat-colorsList {bottom: 75px;}
*:first-child+html #zmchat-colorsList {line-height: 11px;}
#zmchat-colorsList li div {height: 11px;margin: 1px;width: 60px;}
*:first-child+html #zmchat-colorsList li div {margin: 0 1px;}
#zmchat-colorsList li.selected {border: 2px solid black;}
* html body #zmchat-colorsList li.selected {height: 9px;width: 56px;}
*:first-child+html #zmchat-colorsList li.selected {margin-top: 1px;}
#zmchat-colorsList li.selected div {width: 56px !important;}
*:first-child+html #zmchat-colorsList li.selected div {position: relative;bottom: 1px;}
.zmchat_icoinput{width:20px; height:20px; float:left; background-position:-1px -447px; display:inline-block}
.zmchat-input {border-left: 1px solid #E3E8EC;border-bottom: 1px solid #C7D1D9;background-color: #fff; padding: 7px 0 2px 0;}
.zmchat-input textarea {padding:0;background-color: transparent;border:none;float: left; outline: medium none;resize: none;width: 258px;height: 20px;overflow: hidden;}
.zmchat-input span {background-color: #FFFFFF;background-position: 0 -243px;display: block;float: right;height: 20px;width: 20px;}
.zmchat-typing {background-color: #FFFFFF;background-position: 0 -243px;display: block;float: right;height: 20px;width: 20px;}
#zmchat-container {float: right;}
#zmchat-btns {float: left;display: inline-block;}
.zmchat-scrollBtn {background-color: #7897B7;background-image: url(../images/chat/scroll.gif);background-repeat: no-repeat;border: 1px solid #7897B7;cursor: pointer;display: block;float: left;height: 26px;width: 15px;}
#zmchat-btnleft {background-position: 0 2px;}
#zmchat-btnright {background-position: -14px 2px;}
.zmchat-sdisabled {background-color: #D5E0E6;border-color: #A2B8D4;cursor: default;}
#zmchat-btnleft.sdisabled {background-position: 0 -24px !important;}
#zmchat-btnright.sdisabled {background-position: -14px -24px !important;}
.zmchat-friendBtnwp {border-color:#c7d1d9;border-style: solid;border-width: 1px 0 1px 0;float: right;height: 26px;position: relative;width: 155px;z-index: 911;margin: 0 3px;}
.zmchat-friendBtnwp.active {width: 284px; width: 282px\9;}
.zmchat-friendBtn.active {border-color: #095D93; border-style: solid; border-width: 0 1px 0; box-shadow:-1px -4px 4px -1px #666;}
.zmchat-friendBtn {font-weight: bold;color: #476DA4;background-color: #C8D5E3;background-position: 0 -318px;cursor: pointer;height: 100%;border-width: 0 1px;border-style: solid;border-color: #c7d1d9;}
/*.zmchat-friendBtnwp.zmchat-lastBtn.active {margin-right: -1px;}*/
.zmchat-btnCtn {background-position:7px -35px;padding: 0 0 0 20px;position: relative;top: 3px;width: 85%;text-overflow: ellipsis;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;white-space: nowrap;overflow: hidden; display:block;}
.zmchat-fbtnIdle {background-position: 7px -61px !important;}
.zmchat-fbtnOffline {background-position: 7px -86px !important; color: #888;}
.zmchat-closeBtn {background-position: 0 -279px;height: 15px;position: absolute;right: 5px;top: 6px;width: 15px;}
.zmchat-closeBtn-active {background-position: 0 -300px;}
.zmchat-popup {background-color: #E8F2FF;border: 1px solid #095d91; border-bottom:none;bottom: 26px;min-height: 20px;position: absolute;right: 0;width: 282px;width: 280px\9;z-index: 902;background-color: #fff;-moz-box-shadow:-3px 0 4px -3px #666;-webkit-box-shadow:-3px 0 4px -3px #666;box-shadow:-3px 0 4px -3px #666;}
* html body .zmchat-popup {right: -1px;}
.zmchat-popup-header {background-position: 0 0; opacity: 0.8;cursor: pointer;padding: 2px 0 0 3px;display: block;overflow: hidden;}
.zmchat-popup-header.active {opacity: 1;}
.zmchat-popup-header a {color: #FFFFFF;font-weight: bold;text-decoration:none;line-height: 19px;}
.zmchat-popup-hleft {display: block;color: #FFFFFF;font-weight: bold;width: 92%;*width: auto;overflow:hidden;position: relative;}
.zmchat-popup-min {background: url(../images/chat/popupbg-1.00.gif) no-repeat scroll -30px -2px transparent;height: 100%;width: 18px;position: absolute;right: 0;}
* html body .zmchat-popup-min {right: -1px;}
.zmchat-popup-min-active {background-position: -44px -2px;}
.zmchat-popup-close {background: url(../images/chat/popupbg-1.00.gif) no-repeat scroll 3px 0;float: right;height: 18px;outline: medium none;width: 21px;}
a.zmchat-popup-close:hover {background-position: -12px 0;}
.zmchat-popup-content {background-color: #FFFFFF;border-left: 0px solid #095d93;cursor: default;min-height: 20px;height: 200px;overflow-x: hidden;overflow-y: auto;padding: 0 3px 0 5px;margin-top: -1px;}
.zmchat-popup-content .zmscrollableui_bar {bottom: 5px;}
.zmchat-ctnTime {display: inline-block; color: #777;}
.zmchat-ctnErr {color: #999999;font-style: italic;padding: 6px 0 2px 5px;}
.zmchat-tn-groupMsg br {clear: both;}
.zmchat-ctn-groupMsg{height: auto !important;padding: 2px 0;}
.zmchat-newMsg {background-color: red;color: white;min-width: 10px;padding: 0 3px;position: absolute;right: 19px;text-align: center;top: 0;font-weight: normal;}
* html body .zmchat-newMsg {width: 10px;}
.zmchat-btnNewMsg {background-color: #4468A2 !important;}
.zmchat-scrollNewMsg {background-color: #FFFFFF !important;}
.zmchat-err {color: #999999;font-style: italic;padding: 2px 0 2px 5px;}
.zme-chat-onlinelist-item {cursor: pointer;float: left;padding: 0 3px 3px 0;width: 32px;}
.zme-chat-onlinelist-item img {height: 32px;width: 32px;}
#zme-chat-onlinelist-more {float: right;}
#zme-chat-onlinelist-msg {padding-left: 10px;}
#zme-online-list {padding-bottom: 5px;}
.zmchat-ctn-msgs {margin-left: 46px; _margin-left: 44px;}
.zmchat_msg {word-wrap: break-word; color:#333;}
.zmchat-nobg {background: none;}
/* Voice msg */
a.zmchat-vmplay, a.zmchat-vmstop, a.zmchat-vmpause{background-image:url(../images/ringtone/skin-1.01.gif);background-repeat:no-repeat;height:25px;display:inline-block;margin:0;padding:0;}
a.zmchat-vmplay img, a.zmchat-vmpause img{width:23px; background-position:right 0; height:23px; }
a.zmchat-vmplay{background-position:-25px 0;}
a.zmchat-vmpause{ background-position:-182px 0;}
a.zmchat-vmstop img{width:21px; background-position:right 0; height:23px;}
a.zmchat-vmstop{background-position:-71px 0;}
a.zmchat-ctnName{color:#476DA4;}
a.zmechat_txtgrey{color:#555;}
.zmchat-popupinfo{display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 200px;}
.zmchat-popupinfo.flowusername{color: #c2c2c2; font-weight: normal;}
.zmchat_txtusername{ color:#c2c2c2; font-weight: normal;}
.zmchat_avataruser{float:left; margin-right:5px; display:block; border:1px solid #c0d8e6;}

#zmchat-topgrey, .friendact-title {background-color: #f0f3f7; color: #000;padding:2px 5px 3px; border-bottom:1px solid #bfcde1; font-weight:bold;-moz-box-shadow: 0 1px 0 0 #eaedf0, 0 1px 0 0 #eaedf0, 0 0 5px #fff;-webkit-box-shadow: 0 1px 0 0 #eaedf0, 0 1px 0 0 #eaedf0, 0 0 5px #fff;box-shadow: 0 1px 0 0 #eaedf0, 0 1px 0 0 #eaedf0, 0 0 5px #fff;margin-bottom: 1px;}
#zmchat-rheader .zmchat-icon-parent{position: absolute; top:0; right:0;}
#zmchat-rheader .zmchat-iconheader{background-image:url(../images/chat/icozmchat-1.02.gif); background-repeat:no-repeat;width:28px; height:26px; float:left;cursor: pointer;}
#zmchat-rheader .zmchat-switch-vietkey{background-position:0 -220px;}
#zmchat-rheader .zmchat-switch-vietkey:hover{background-position:0 -280px;}
#zmchat-rheader .zmchat-switch-vietkey.disable_vkey{background-position:0 -309px;}
#zmchat-rheader .zmchat-switch-vietkey.disable_vkey:hover{background-position:0 -246px;}
#zmchat-rheader .zmchat-popupmin-parent{ background-position:0 0; right:24px;}
#zmchat-rheader .zmchat-popupmin-parent:hover, #zmchat-rheader .zmchat-popupmin-parent.active{background-position:0 -52px;}
#zmchat-rheader .zmchat-setting-parent{background-position: 0 -26px; right:0;}
#zmchat-rheader .zmchat-setting-parent:hover, #zmchat-rheader .zmchat-setting-parent.active{ background-position:0 -78px;}
#zmchat-rheader .zmchat-off-parent{background-position: 0 -156px; right:0;}
#zmchat-rheader .zmchat-off-parent:hover, #zmchat-rheader .zmchat-off-parent.active{ background-position:0 -182px;}
#zmchat-rheader .zmchat-on-parent{background-position: 0 -104px; right:0;}
#zmchat-rheader .zmchat-on-parent:hover, #zmchat-rheader .zmchat-on-parent.active{ background-position:0 -130px;}
.zmchat-icoser{width:12px; height:11px; background-position:-1px -237px; display: inline-block; float:left; margin:7px;}
.zmechat-icostt{width:9px; height:5px; background-position:-5px -471px; display:inline-block; margin-right:4px; vertical-align:3px; line-height: 1px; font-size: 1px;}

.moveLeft {position: relative; left: -95px;}
.zmscrollableui.activity .zmscrollableui_bar{top: 3px; bottom: 4px;}
.ctndisbox.activity{z-index: 990;}

.zmchat-vkeyList{background-color: #FFF;border: 1px solid #A2B8D4;bottom:26px;position: absolute;right:56px;z-index: 901;outline: none;width:90px;}
.zmchat-vkeyList li{cursor:pointer;padding: 2px 0 2px 5px;}
.zmchat-vkeyList li label {display:inline-block;color:#555;padding:2px 2px 2px 5px;width:62px;}